<!-- Main -->
<div id="main" class="alt">
	<!-- One -->
	<section id="one">
		<div class="inner">

			<!-- Content -->
			<h2 id="content">Today's 10 words</h2>

			<hr class="major" />

			<!-- Elements -->
			<div class="row gtr-200">
				<div class="col-6 col-12-medium">

					<!-- Table -->
					<div class="table-wrapper">
						<table class="alt">
							<thead>
								<tr>
									<th>No.</th>
									<th>Word</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Item1</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>Check!</td>
								</tr>
								<tr>
									<td>Item2</td>
									<td>Vis ac commodo adipiscing arcu aliquet.</td>
									<td>Check!</td>
								</tr>
								<tr>
									<td>Item3</td>
									<td> Morbi faucibus arcu accumsan lorem.</td>
									<td>Check!</td>
								</tr>
								<tr>
									<td>Item4</td>
									<td>Vitae integer tempus condimentum.</td>
									<td>Check!</td>
								</tr>
								<tr>
									<td>Item5</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>Check!</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>

				</div>
			</div>

		</div>
	</section>

</div>
